<mat-accordion>
    
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Cover Letter
        </mat-panel-title>
        <!-- <mat-panel-description>Hi! I'm Kevin</mat-panel-description> -->
    </mat-expansion-panel-header>
    <div>
        <app-coverletter></app-coverletter>
    </div>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Resume
        </mat-panel-title>
        <!-- <mat-panel-description>My work experience</mat-panel-description> -->
    </mat-expansion-panel-header>
    <div>
        <app-resume></app-resume>
    </div>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            TL;DR (too long; didn't read)
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
        <app-home></app-home>
    </div>
</mat-expansion-panel>

</mat-accordion>

<p style="padding-bottom: 50px"></p>

