.mat-accordion {
    display: grid;
    margin: auto;
    width: 99%;
    margin-top: 1rem;
}

.mat-expansion-panel {
    padding: 2px;
}


.mat-expansion-panel-header {
   background-color: #6479a3 !important;
}

.mat-expansion-panel-header-title {
    color: #fff;
    /* justify-content: center; */
}