<div class="container">
  <!-- <h2 class="d-flex justify-content-center">Demo App</h2> -->
  <br>

  <nav class="navbar navbar-expand-sm navbar-dark bg-light d-flex justify-content-center ">
    <ul class="navbar-nav">
 
      <li class="nav-item">
        <button routerLink="schemas" class="m-1 btn btn-light btn-outline-primary nav-label">Schemas</button>
      </li>    
      <li class="nav-item">
        <button routerLink="demo" class="m-1 btn btn-light btn-outline-primary nav-label">Demo</button>
      </li> 
      <li class="nav-item">
        <button routerLink="plans" class="m-1 btn btn-light btn-outline-primary nav-label">Plans</button>
      </li>
      <li class="nav-item">
        <button routerLink="play" class="m-1 btn btn-light btn-outline-primary nav-label">Playtime</button>
      </li>
      
    </ul>
  </nav>

  <br>
  <router-outlet></router-outlet>
</div>