  <table class="table table-striped">
    <thead>
        <th>
          <div class="d-flex flex-row">
          <button type="button" class="btn btn-light"
          (click)="sortFn('id', true)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
            </svg></button>
          <button type="button" class="btn btn-light"
            (click)="sortFn('id', false)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
            </svg></button>  
          </div>
          Id</th>
        <th>
          <div class="d-flex flex-row">
            <input [(ngModel)]="ItemFilter" class="form-control"
              (keyup)="filterFn()" placeholder="Filter...">

          <button type="button" class="btn btn-light"
            (click)="sortFn('name', true)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
            </svg></button>
          <button type="button" class="btn btn-light"
            (click)="sortFn('name', false)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
            </svg></button>  
          </div>
        Item
        </th>          
        <th>
          <div class="d-flex flex-row">
            <input [(ngModel)]="ItemTypeFilter" class="form-control"
              (keyup)="filterFn()" placeholder="Filter exact match">
          </div>Type</th>   
        <th>
          <div class="d-flex flex-row">
            <input [(ngModel)]="ItemLocationFilter" class="form-control"
              (keyup)="filterFn()" placeholder="Filter exact match">
          </div>Location</th>   
        <th>Notes</th>
        <th>Date Updated</th>
        <th>
          <div class="d-flex flex-row">
            <button type="button" class="btn btn-primary m-2 float-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="modalAdd()">    
              Add Item</button> <!-- Add Item Trigger Modal -->
          </div>Options</th>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let item of itemList$|async"></tr> -->
        <tr *ngFor="let item of itemList">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>            
            <td>{{itemTypeMap.get(item.itemTypeId)}}</td>
            <td>{{itemLocationMap.get(item.itemLocationId)}}</td>            
            <td>{{item.notes}}</td>      
            <td>{{formatDateTime(item.updatedDate)}}</td>
            <td>
              <button class="btn btn-outline-primary me-2 mb-1"
              (click)="modalEdit(item)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
              </button>
              <button class="btn btn-outline-danger me-2 mb-1"
              (click)="deleteItem(item)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </button>
            </td>
        </tr>
    </tbody>
</table>

<div class="alert alert-success d-flex align-items-center" role="alert" id="add-success-alert">
  Item added!
</div>
<div class="alert alert-success d-flex align-items-center" role="alert" id="update-success-alert">
  Item updated!
</div>
<div class="alert alert-success d-flex align-items-center" role="alert" id="delete-success-alert">
  Item deleted!
</div>
 
  <!-- Add or Edit Item Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-l">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{modalTitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="modalClose()" id="add-edit-modal-close"></button>
        </div>
        <div class="modal-body">
          <app-add-edit-item [item]="item" *ngIf="activateAddEditItemComponent"></app-add-edit-item>
        </div>
      </div>
    </div>
  </div>